@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-accent-200: #b5c6ff;
  --color-accent-600: #4048ff;
  --color-accent-900: #1d2575;
  --color-accent-950: #151e4f;

  --color-gray-100: #f6f6f6;
  --color-gray-200: #eeeeee;
  --color-gray-300: #c2c2c2;
  --color-gray-400: #8b8b8b;
  --color-gray-500: #585858;
  --color-gray-700: #383838;
  --color-gray-800: #272727;
  --color-gray-900: #181818;
}

:root {
  --sl-content-width: 70rem;
  --sl-sidebar-width: 14rem;
}
@media (min-width: 72rem) {
  .right-sidebar-container {
    min-width: var(--sl-sidebar-width);
  }
}
