
<pre class="astro-code css-variables" style="background-color: var(--astro-code-color-background); overflow-x: auto" tabindex="0" dir="ltr">
  <span class="font-semibold">. load page</span>
  <span class="text-[#FF0000] font-bold">page is unrecognized. Check the URL or try using the search bar.</span>
  <span class="text-[#2e3093] font-semibold">r(404);</span>
</pre>
